/* STYLE GLOBAL */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
				padding: 0 2rem;
}

td, th {
				border: 1px black solid;
				padding: .5rem;
}

table thead th {
				position: -webkit-sticky;
				position: sticky;
				top: 0;
				background-color: #edecec;
}

a {
				color: blue;
}
a:hover {
				text-decoration: underline;
}

